.task__input__container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}


.sub__task__item {
    margin-left: 1rem;
    padding: 0.25rem 0rem;
}

.task__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem
}

.task__item__nested {
    flex-direction: column;
}

.task__item__nested>.sub__task__form {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.task__title__container,
.sub__task__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__input {
    width: 75%;
    padding: 0.5rem;
}

.task__btn {
    width: 25%;
    cursor: pointer;
}

.task__item__container {
    padding: 1rem 0rem;
    border-top: 1px solid #ccc
}

.add__task__btn {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.4rem;
    width: fit-content;
}

.task__title__container {
    border-bottom: 1px solid #ccc;
}

.App {
    height: 100vh;
}

.main__app__container {
    height: calc(100% - 6rem);
}

@media (max-width: 600px) {
    .app__container {
        width: 30rem;
    }
}

@media (max-width: 500px) {
    .app__container {
        width: 25rem;
    }
}

@media (max-width: 400px) {
    .app__container {
        width: 275px;
    }
}